<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="" id="loginForm">
            <input type="text" placeholder="login" id="inputLogin">
            <input type="text" placeholder="password" id="inputPassword">
            <button type="submit" id="buttonSubmit">button</button>
        </form>
    </div>
</body>
</html>