<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="titlek">Жми</h1>
    <a id="readress" href="/date">дата</a>
    <p id="description">это страница для переадресации</p>
</body>
</html>